---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}

<body>
    {% include navbar.html %}
    <div class="wrapper">
        <main aria-label="Content">
            <div class="not-found">
                <div class="container">
                    <div class="title">404</div>
                    <p class="phrase">Hmm... Seems like this route is not available.</p>
                    <div class="randomCat" id="randomCat">
                        <p class="phrase">Here is a random cat picture.</p>
                        <div id="image"></div>
                    </div>
                    <a class="solution" href="{{ site.url }}">back home</a>
                </div>
            </div>
        </main>
        {% include footer.html %}
    </div>
    <script>
    fetch('https://api.thecatapi.com/v1/images/search')
        .then((response) => {
            if (response.status == 200) {
                response.json().then((data) => {
                    const imgHtml = `<img src=${data[0].url} alt="Cat Image">`;
                    document.getElementById("image").innerHTML = imgHtml;
                    document.getElementById("randomCat").setAttribute("style", "display:block;")
                })
            }
        })
        .catch((err) => {
            console.log(err);
        });
    </script>
</body>

</html>